<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <td><%= form.label :name, style: "display: block" %></td>
    <td><%= form.text_field :name, size: 50 %></td>
  </div>

  <div class="mb-3">
   <td><%= form.label :client_id, style: "display: block" %></td>
   <td><%= form.select :client_id, options_for_select(@clients), include_blank: "Selecciona un cliente" %></td>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
