<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <td><%= form.label :name, style: "display: block" %></td>
    <td><%= form.text_field :name %></td>
  </div>

  <div class="mb-3">
    <td><%= form.label :age, style: "display: block" %></td>
    <td><%= form.text_field :age %></td>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
